.page-footer {
  grid-row: -1;
  background-color: $color-primary;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

    @media only screen and (max-width: $bp-medium) {
        display: flex;
        flex-direction: column;
    }


  .information-group {
    grid-column: auto;
    padding: 3rem;

    &:not(:nth-child(3)) {
      border-right: 2px solid $color-secondary;
    }

    @media only screen and (max-width: $bp-medium) {
      margin: 0 auto;

      &:not(:nth-child(3)) {
        border: none;
      }
  }

    &__title {
      margin-bottom: 2rem;
      color: $color-secondary;
      text-align: center;
    }

    &__content-list {
      list-style-type: none;
    }

    &__content-item {
      margin-bottom: 1.5rem;

      &-link {
        display: flex;
        align-items: center;
        color: $color-grey-light;
        text-decoration: none;
        font-size: 2rem;
        transition: color .2s;

        &:hover {
          color: $color-secondary;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      &-icon {
        width: 3rem;
        height: 3rem;
        fill: currentColor;
        margin-right: 1rem;
      }
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

    .form-group {
      margin-bottom: 3rem;

      &__input {
          padding: 1rem;
          outline: none;
          border: none;
          background-color: transparent;
          border-bottom: 2px solid $color-grey-light;
          margin-bottom: 1rem;
          color: $color-grey-light;
          transition: all .2s;
          border-radius: none;

          &::placeholder {
            color: $color-grey-light;
            font-size: 1.3rem;
            text-transform: uppercase;
            text-align: center;
          }

          &:focus {
            border-bottom: 2px solid $color-secondary;
          }
      }

      input[type=text] {
        height: 150px;
      }

      &__submit {
        border: 0;
        padding: 1rem 2rem;
        border-radius: .3rem;
        color: $color-primary;
        border: 2px solid $color-secondary;
        text-transform: uppercase;
        font-weight: bold;
        transition: all .2s;

        &:hover {
          background-color: $color-primary;
          color: $color-secondary;
          backface-visibility: hidden;
        }
      }
    }
  }

  .copyright-banner {
    grid-row: 2;
    grid-column: 1 / -1;
    font-size: 1.5rem;
    color: $color-secondary;
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
  }
}