.page-footer {
  grid-row: -1;
  background-color: $color-primary;
  position: relative;

    .information-wrapper {
      display: flex;

      @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
     }
    }

  .information-group {
    width: 50%;
    padding: 2rem;


    @media only screen and (max-width: $bp-medium) {
      width: 100%;
  }

    &__title {
      margin-bottom: 2rem;
      color: $color-secondary;
      text-align: center;
    }

    &__content-list {
      list-style-type: none;
    }

    &__content-item {
      padding: 2rem;

      &-link {
        display: flex;
        align-items: center;
        color: $color-grey-light;
        text-decoration: none;
        font-size: 2rem;
        transition: color .2s;


        &:hover {
          color: $color-secondary;
          text-decoration: underline;
          cursor: pointer;
        }

        @media only screen and (max-width: $bp-medium) {
          justify-content: center;
       }
      }
      &-icon {
        width: 3rem;
        height: 3rem;
        fill: currentColor;
        margin-right: 1rem;
      }
    }
  }

  .copyright-banner {
    width: 100%;
    font-size: 1.5rem;
    color: $color-secondary;
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
  }
}