.page-front {
  grid-row: 2;
  position: relative;

  &__gallery-item {
    width: 100%;
    height: 100%;
  }

  &__gallery-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}