.page-motto {
  grid-row: 5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $color-secondary;
  color: $color-primary;
  padding: 4rem;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    text-align: center;
  }

  &__content {
    font-size: 5rem;
    margin-bottom: 3rem;

    &-small {
      font-size: 3rem;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2rem 5rem rgba($color-primary, 0.5);
  }
}