.page-nav {
  display: flex;
  min-height: 7rem;
  width: 100%;
  align-items: center;
  padding: 2rem;
  background-color: $color-primary;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 1.7rem 4rem rgba(#000,0.1);


  &__homepage-link {
    position: relative;
    width: 3rem;
    margin-right: 1.5rem;
  }

  &__logo {
    display: block;
    width: 100%;
  }

  &__nav {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: $color-primary;
      transform: translateX(-100%); 
      transition: transform .2s;  
    }
  }

  &__nav-list {
    display: flex;
    list-style-type: none;
    font-size: 1.5rem;

    @media only screen and (max-width: $bp-medium) {
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__nav-link {
    color: $color-grey-light;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 2rem;
    position: relative;
    display: block;
    overflow: hidden;
    padding: .5rem 0;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2.5rem;
      margin: 0 0 2rem 0;
    }

    &::before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: $color-grey-light;
      position: absolute;
      bottom: 0;
      transform: translateX(-110%);
      transition: transform .3s;
    }
  }
  .burger-toggle {
    display: none;

    @media only screen and (max-width: $bp-medium) {
      display: block;
    }
  }

  .burger {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    margin: 1.5rem;
    z-index: 1100;
    width: 4rem;
    height: 4rem;
  }

  .burger-btn {
    width: 100%;
    height: 3px; 
    background-color: $color-grey-light;
    position: relative;
    
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: $color-grey-light;
      top: 10px;
      transition: transform .3s;
    }

    &::before {
      top: -10px;
    }
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ &__nav {
    transform: translateX(0);
  }

  &__checkbox:checked + .burger-toggle .burger-btn {
    background-color: transparent;
  }

  &__checkbox:checked + .burger-toggle .burger-btn::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + .burger-toggle .burger-btn::after {
      top: 0;
      transform: rotate(-135deg);
  }

  &__nav-link:hover::before { transform: translateX(0); }
  .page-title { margin-right: auto; }
}


