.page-section-adv {
  grid-row: 4;
  padding: 8rem;
  background-color: $color-secondary;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
  }

  &__title {
    margin-top: 4rem;
    text-align: center;
  }

  &__line {
    height: 4px;
    background-color: $color-primary;
    width: 90%;
    margin: 2rem auto;
    border: none;
  }

  &__adv-wrapper {
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 4rem;
  }

  &__adv-item {
    color: $color-grey-light;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    position: relative;
    border-radius: 1rem;

    &__icon {
      fill: $color-grey-light;
      width: 80%;
      padding: 1rem;
      transition: all .2s ease-out;
    }

    &__title {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    &__content {
      font-size: 1.5rem;
    }

    &:hover > &__icon { fill: $color-secondary; }
  }
}