// COLORS

$color-primary: #203667;
$color-secondary: #C2BB02;
$color-grey-light: #E4E4E4;

// FONT FAMILIES

$font-primary: 'Montserrat', sans-serif;
$font-heading: 'Anton', sans-serif;
// BREAKPOINTS

$bp-largest: 75em;     
$bp-medium: 50em;    
