*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $font-primary;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;

  @media only screen and (min-width: $bp-largest) {
    font-size: 75%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }

  
}

.page-container {
    display: grid;
    grid-template-rows: 7rem 60vh repeat(4, min-content);
    overflow-x: hidden;
}

.scroll-anim {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-30px);
  transition: all .6s ease-in-out;
}

.fade {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}