*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $font-primary;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
}
}

.page-container {
    display: grid;
    grid-template-rows: 7rem 60vh repeat(3, min-content);
    overflow-x: hidden;
  }

