*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $font-primary;
}

.page {

  &-container {
    display: grid;
    grid-template-rows: 7rem 60vh repeat(3, min-content);
  }

  &-description {
    background-color: rebeccapurple;
    grid-row: 3;
  }

  &-section-pros {
    background-color: royalblue;
    grid-row: 4;
  }

  &-motto {
    background-color: darkgoldenrod;
    grid-row: 5;
  }

  &-footer {
    background-color: firebrick;
    grid-row: 6;
  }
}

